%pos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

%img {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

%decorList {

    li {
        position: relative;
        padding-left: 25px;
        margin-bottom: 15px;

        &::before {
            content: '';
            position: absolute;
            top: 9px;
            left: 0;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $primary;
        }
    }
}