.quantity {
  display: flex;
  justify-content: center;
  height: 40px;

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray-400;
    background: #fff;
    width: 25px;
    height: 100%;
    cursor: pointer;
    user-select: none;
    transition: .5s;

    &--up {
      border-radius: 0 5px 5px 0;
    }

    &--down {
      border-radius: 5px 0 0 5px;
    }

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &-input {
    width: 35px;
    height: 100%;
    padding: 0;
    text-align: center;
    border-top: 1px solid $gray-400 !important;
    border-bottom: 1px solid $gray-400 !important;
    border-radius: 0;
  }
}